<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../src/components/head'); %>
        <link rel="stylesheet" href="../stylesheets/doctors.css" />
        <!-- <script defer src="../JS/doctors.js"></script> -->
        <title>Doctors</title>
        
    </head>

    <body>
        <%- include('../src/components/nav')%>
        <div class="doctors-page">
            <div class="container">
                <h1>Our Doctors</h1>

                <% doctor.forEach(function(doctor){ %>
                <div class="doctor">
                    <h2><%= doctor.name %></h2>
                    <p>Specility : <%= doctor.spciality%></p>
                    <p>Experience : <%= doctor.experience%> Years</p>
                </div>
                <%});%>
            </div>
        </div>
    </body>
</html>
